# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo

# Visual Studio
.vs/

# MSIX / packaging output
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.cer
*.pfx

# Test / coverage
TestResults/
[Cc]overage*/
